/* copyright 2018, stefano bovio @allyoucanmap. */

body {
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*background-color: #c0f5b5;*/
    background-color: #ffffff;
}
.canvas {
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.container {
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
}

.timer {
    margin: auto;
    font-size: 64px;
    font-family: monospace;
    pointer-events: none;
    text-align: center;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.timer-date {
    background-color: rgba(255, 255, 255, 0.75);
    pointer-events: none;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    padding: 16px;
}

.timer-friday {
    margin-top: 16px; 
    font-size: 32px;
    background-color: rgba(255, 255, 255, 0.75);
    pointer-events: none;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    padding: 16px;
}